/target
.DS_Store
.env
*.txt
.envrc
.vscode
*.yaml
.cursor

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/
.roo
.roomodes
.windsurfrules
.env.example
.taskmaster
